{% extends 'base.html.twig' %} 

{% block body %}

<div class="container">
  <a href="/" class="btn btn-light mb-3"><i class="fa fa-backward"></i> Back</a>
  <a href="{{ path("add_event") }}" class="btn btn-primary pull-right">
    <i class="fa fa-pencil"></i> Add an Event
</a>
  <br />

  <div class="card text-center mt-5 mb-2">
    <div class="card-header">
      <strong>{{ event.name }}</strong>
    </div>
    <div class="card-body">
      <img src="{{ event.image }}" class="card-title img-fluid" /><img />
      <p class="card-text">{{ event.description }}</p>
      <p class="card-text">Date: {{ event.date|date('Y-m-d H:i')}}</p>
      <p class="card-text">Maximum capacity: {{ event.capacity }}</p>
      <p class="card-text">Event Type: {{ event.type | capitalize }}</p>
      <p class="card-text">Address: {{ event.address }}</p>
    </div>
    <div class="card-footer text-muted">
      <a class="badge badge-warning" href="{{ event.url }}">Tickets and more Info</a>
      <br />
      <a class="badge badge-primary" href="mailto:{{ event.email }}">Email Us</a> or <a class="badge badge-primary" href="tel:{{ event.phone }}">Call Us</a>
    </div>
  </div>
  <a href="/edit/{{ event.id }}" class="btn btn-dark">Edit</a>
  <a href="/delete/{{ event.id }}" class="btn btn-danger pull-right">Delete</a>

</div>
  {% endblock %}
